---
# 1. Paginate over our new 'permanent_pages' collection
pagination:
  data: "collections.permanent_pages"
  size: 1
  alias: "share_page"

# 2. Create a permalink using the 'page_id'
permalink: "/share/{{ share_page.data.uid }}/"

# 3. Exclude these from sitemaps and directory listings
eleventyExcludeFromCollections: true
layout: false
download: false
directory: false
---
{# This is a simple HTML page that instantly redirects #}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Redirecting...</title>
    <meta http-equiv="refresh" content="0; url={{ share_page.url | url }}">
    
    <link rel="canonical" href="{{ share_page.url | url }}">
</head>
<body style="font-family: sans-serif; padding: 2em;">
    <h1>Redirecting...</h1>
    <p>
        This page has moved. You are being redirected to:
        <br>
        <a href="{{ share_page.url | url }}">{{ share_page.url }}</a>
    </p>
    <p>
        (Click the link if you are not redirected automatically.)
    </p>
</body>
</html>