---
# 1. Paginate over our new 'directories' data
pagination:
  data: directories
  size: 1
  alias: dir
  physicalPath: "{{ dir.webPath | safe }}"
  layout: layout.njk
# Create a permalink at the missing directory's path
permalink: "{{ dir.webPath | safe }}/"
# hide this from our 'directoryContents' lister
eleventyExcludeFromCollections: true
# hide download button
download: false
---
{#
  This file is just a generator.
  The layout and 'content.11tydata.js'
  will do all the real work of listing the contents.
#}