---
pagination:
  data: collections.tagList
  size: 1
  alias: tag
permalink: /tags/{{ tag | slugify }}/
eleventyExcludeFromCollections: true
layout: "layout.njk"
directory: true 
download: false
---

{# 1. Title for the page #}
<h2>Posts tagged with "{{ tag }}"</h2>

{# 2. List of posts #}
<ul>
{% set tagPosts = collections[tag] %}
{% for post in tagPosts | reverse %}
  <li>
    <a href="{{ post.url }}">{{ post.data.title }}</a>
  </li>
{% endfor %}
</ul>

<hr>
{# 6. Add a link back to the main categories page #}
<p><a href="/tags/">← View All Tags</a></p>