---
layout: layout.njk
---

<h2>{{ title }}</h2>

{# Check if our computed data exists #}
{% if directoryContents %}
  <ul class="dir-listing">
    
    {# Loop over the directories #}
    {% for dir in directoryContents.directories %}
      <li><span>📁</span><a href="{{ dir.url }}">{{ dir.name }}/</a></li>
    {% endfor %}

    {# Loop over the files #}
    {% for file in directoryContents.files %}
      <li><span>📄</span><a href="{{ file.url }}">{{ file.name }}</a></li>
    {% endfor %}

  </ul>
{% endif %}

<hr>

{# This will render any markdown content from the index.md file itself #}
{{ content | safe }}