---
pagination:
  data: filetree.assets
  size: 1
  alias: media
permalink: "{{ media.url | safe }}.html"
eleventyExcludeFromCollections: true
download: false
layout: false
downloadURL: "{{ media.url | safe }}"

---

{# This is an embedded file. You're probably meant to download it and use it somehow. #}

{% extends "layout.njk" %}

{% block content %}
  <h2>{{ media.name }}</h2>
  
  {% if media.type == 'image' %}
    
    {% image media.url, media.name %}
  
  {% elif media.type == 'video' %}
  
    {% video media.url %}
  
  {% elif media.type == 'audio' %}
  
    {% audio media.url, media.name %}
  
  {% elif media.ext == '.glb' %}
  
    {% 3d media.url %} 
  
  {% elif media.type == 'other' %}
  
    {% embed media.url, "text-embed" %}
  
  {% else %}
  
    <p>Cannot display this file type.</p>
  
  {% endif %}

{% endblock %}