---
pagination:
  data: filetree.assets
  size: 1
  alias: media
permalink: "{{ media.url | safe }}.html"
eleventyExcludeFromCollections: true
download: false
layout: false
downloadURL: "{{ media.url | safe }}"

---
{% extends "layout.njk" %}

{% block content %}
  <h2>{{ media.name }}</h2>

  {# --- This is the new, simplified logic --- #}
  
  {% if media.type == 'image' %}
    
    {% image media.url, media.name %}
  
  {% elif media.type == 'video' %}
  
    {% video media.url %}
  
  {% elif media.type == 'audio' %}
  
    {% audio media.url, media.name %}
  
  {# We must check for .glb *before* 'other' #}
  {% elif media.ext == '.glb' %}
  
    {% 3d media.url %} 
  
  {% elif media.type == 'other' %}
  
    {# This handles PDF, .txt, etc. #}
    {% embed media.url, "text-embed" %}
  
  {% else %}
  
    <p>Cannot display this file type.</p>
  
  {% endif %}

{% endblock %}