---
permalink: /shortlinks.json
eleventyExcludeFromCollections: true
layout: false
---
{
{%- for page in collections.permanent_pages %}
  "{{ page.data.uid }}": "{{ page.url | url }}"{% if not loop.last %},{% endif %}
{%- endfor %}
}