name: Build and Deploy 11ty Site

on:
  push:
    branches:
      - main


permissions:
  contents: read
  pages: write
  id-token: write

# This setting allows the deploy job to run
concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  # Job 1: Build site
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'
          cache: 'npm'
          
      - name: Install Dependencies
        run: npm install

      - name: Build site
        run: npm run build # This runs "npx @11ty/eleventy"

      # This step REPLACES the old 'deploy' step
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          # This is the folder 11ty builds to
          path: '_site'

  # Job 2: Deploy site
  deploy:
    # This job depends on the 'build' job finishing
    needs: build
    
    # Grant permissions to this specific job
    permissions:
      pages: write
      id-token: write
      
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
        # No 'folder' input is needed here.
        # This action automatically finds the artifact from the 'build' job.